body {
  padding-top: 55px;
}
.login-text-and-button {
  margin: 10px;
}
.file {
  margin: 5px;
  padding: 5px;
  background-color: #eef;
  border-radius: 10px;
  float: left;
}
.login-display-name {
  color: gray;
}
